*
{
    padding:0;
    margin: 0px;
}
html
{
    background-image:url(/img/Chicagobull.jpg);
    background-color: #c5c9ca;
    scroll-behavior: smooth;
}
p{
    color: white;
}
.banner
{
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
}
.nav{
    width: 85%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.logo
{
    width: 60px;
    cursor: pointer;
    transform: translateX(-60px);
}
.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    margin-bottom: 45px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nav ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background: turquoise;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.nav ul li:hover::after
{
    width: 100%;
}
.content
{
    width: 50%;
    position: absolute;
    top: 50%;
    text-align:justify ;
    color: white;
    transform: translateY(-50%);
}
.content h2{
    font-size: 40px;
    text-align: left;
    line-height: 35px;
    margin-bottom: 20px;
}
.content p{
    font-size: 20px;
    margin-left: 10px;
}
.banner .nav ul li a p
{
    border: 2px solid tomato;
    border-radius: 25px;
    margin: 0px 0px;
    background: tomato;
    color:white;
    font-weight: 400;
}
.banner .nav ul li a p:hover
{
    background: teal;
    border: 2px solid teal;
}
section
{
    height: 100;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1)
{
    color: white;
}
section:nth-child(2)
{
    color: #fff;
}
.musiccon
{
height: fit-content;
width: 100%;
background-color: rgba(58, 118, 158, 0.411);
}
.musicrow
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.musiccol
{
flex-basis: 50%;
min-width: 250px;
}
article p{
    color: white;
}
.featuredmusic
{
    width: 550px;
    height: 600px;
    border-radius: 16px;
    overflow: hidden;
}
.smallimgrow
{
    display: flex;
    background-color: white;
    margin: 20px 0;
    align-items: center;
    border-radius:6px;
    overflow: hidden;
    width: 450px;
    height: 150px;
}
.musiccon p{
    color: black;
    font-size: 18px;
}
.musicsmallimg
{
    position: relative;
    height: 150px;
}
.musicsmall img{
    width:50px;
}
.musicplayer audio{
    visibility: hidden;
}
.smallimgrow
{
    margin-left: 20px;
    color: tomato;
    line-height: 22px;
    font-size: 22px;
} 
.musicrow p{
    font-size: 16px;
    margin-right: 1px;
}
.musicplayer
{
    position: absolute;
    transform: translate(2%);
}
audio:focus{
    outline: none;
}
.play-btn
{
    position: relative;
}
.small-img .close-video
{
    width: 25px;
}
.container{
    width: 100%;
    height:auto;
    margin: 0px auto;
    background: teal;   
}
.container h1{
    padding: 60px;
    color: #fff;
    text-align: center;
    font-size: 40px;
}
.musiccon h4{
    font-weight: 200;
    margin-left: 5px;
}
.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col
{
    flex-basis: 50%;
    min-width: 250px;
}

.featured-img
{
    width: 85%;
    margin: auto;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.small-img-row
{
    display: flex;
    background: white;
    margin: 25px 0;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    width: 85%;
    height: 135px;
}
.small-img-row{
    position: relative;
}
.small-img-row .play-video{
    transform: translateX(233px);
}
.small-img img{
    width: 150px;
}
.small-img-row p{
    margin-left:25px ;
    color: black;
    line-height: 20px;
    font-size: 18px;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 200px;
    margin: 0;
    padding: 0;
  }
  .column img:hover {
    opacity: 1;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
    position: relative;
    display: none;
  }
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
.eatslink img
{
    width: 50%;
}
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  @media screen and (max-width:768px)
  {
      html{
        width: 100%;
      }
      .nav{
          width: 80%;
          margin: 0;
      }
      .nav .logo
      {
        transform: translate(30px);
      }
      section .musiccon{
          height: 100vh;
      }
      section .musiccon .musiccol .smallimgrow
      {
          width: max-content;
          height: 150px;
      }
      
  }

@media screen and (max-width:360px){
    html{
        width: 100%;
    }
    .banner{
        width: 100%;
        height: 100vh;
    }
    .banner .nav .logo {
        font-size: 12px;
        margin-left: 65px;
        padding-top: 14px;
    }
    .banner .nav{
        width: 300px;
        margin-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        padding-left: 0px;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .banner .nav ul li{
        font-size: 12px;
        margin: 0;
        display: flex;
        flex: 1;
        padding:2px;
    }
    .content h2{
        font-size: 32px;
        line-height: 30px;
    }
    .Fashion .fashionlink h2 p{
        color: white;
        border: 2px solid white;
    }
    .content p{
        font-size: 18px;
        width: 320px;
    }
    .musiccon h1
    {
        font-size: 20px;
    }

   
    .smallimgrow
    {
        width: 280px;
        height: 90px;
        margin: 10px;
    }
    .musicsmallimg img{
        transform: translateY(35px);
        margin-right: 1px;
    }
    .musicsmallimg .playicon {
        width: 80px;
        margin-right: 0px;
    }
    .musicsmallimg .playicont
    {
        width: 80px;
        margin-bottom: 1px;
        transform: translateY(35px);
    }
    .musicsmallimg
    {
        width: 140px;
        margin-right: 0px;
        
    }
    .smallimgrow p{
        font-size: 15px;
        margin-left: 0px;
        padding-left: 0px;
    }
    
}
