*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
section .container
{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(/img/pexels-anton-porsche-133576.jpg);
    background-size: cover;
    margin-right: 0px;
    padding-right: 0px;
    color: white;
}
section .rightside audio
{
    height: 35px;
    width: 450px;
    
}
section .navbar
{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
section .logo
{
    width: 120px;
    transform: translateX(-65px);
    margin-right: 0;
    padding-right: 0;

}
.content
{
    width: 100%;
    position: absolute;
    top: 30%;
}
.leftside
{
    margin-left: 6px;
}