*
{
    margin: 0;
    padding: 0;
    height: auto;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body
{
    width: 100%;
}
.images 
{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    padding-bottom: 15px;
}
html{
    background-color: #eee;
    background: rgba(102, 119, 103, 0.3);

}
p{
    width: 50%;
}
article p
{
    text-decoration: none;
    font-size: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: justify;
}
body article h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}
nav{
    background: #2e3e50;
    height: 60px;
}
nav img{
    width: 40px;
    position: absolute;
    top: 2%;
    left: 3%;
}
nav ul{
    float: right;
    height: 40px;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    margin:0 15px;
    line-height: 80px;
}
nav ul li a{
    position: relative;
    color: white;
    font-size: 14px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:crimson ;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.footer{
    width:100%;
    position: absolute;
    height:fit-content;
    background-color: #2e3e50;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 5px;
  }
  @media (max-width:1024px)
  {
      html, body
      {
          width: 100%;
          text-align: justify;
      }
      nav img
      {
          width: 40px;
          top: 12px;
      }
      body article
      {
        text-decoration: none;
        font-size: 15px;
        width: 80%;
        margin-left: 100px;
        margin-right: 100px;
        height: auto;
        text-align: justify;
        padding-bottom: 15px;
      }
      .footer{
          position: fixed;
          width: 100%;
          margin: 0;
          left: 0;
          bottom: 0;
          padding: 0;
      }
  }
  @media (max-width:768px)
  {
      body{
          width: 100%;
      }
      nav ul li a 
      {
          font-size: 15px;
      }
  }
  @media screen and (max-width:414px)
{
    html{
        margin: 0;
        padding: 0;
    }

}
@media screen and (max-width:411px)
{
    html{
        margin: 0;
        padding: 0;
    }
    .navbar ul
    {
        display: flex;
        transform: translate(50px);
    }
    body article
    {
        text-align: justify;
        margin: 0;
        width:50px ;
        text-align: left;
    }
}
@media screen and (max-width:360px)
{
    html{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    nav
    {
        height: 40px;
    }
    nav ul li 
    {
        transform:translateY(-23px);
        height: 40px;
        bottom: 0;
        margin: 0;
    }
    nav ul li a
    {
        font-size: 10px;
        text-align: center;

    }
    section nav img
    {
        width: 25px;
    }
    body article
    {
    text-decoration: none;
    font-size: 15px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    }
    .images
    {
        padding-bottom: 5px;
    }
}
@media screen and (max-width:320px)
{

}