*
{
    padding:0;
    margin: 0px;
    text-decoration: none;
}
html
{
    background: rgba(102, 119, 103, 0.3);
}
html ,body
{
    background-color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}
p{
    color: rgb(0, 0, 0);
}
article.m-third
{
    align-items: center;
    text-align: justify;
    text-decoration: none;
    font-size: 1rem;
}
nav{
    background: #2e3e50;
    height: 60px;
    width: 100%;
}
nav img{
    width: 50px;
    position: absolute;
    top: 1%;
    left: 3%;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    margin:0 15px;
    line-height: 50px;
}
nav ul li a{
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:crimson ;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.content
{
    position: absolute;
    top: 50%;
    align-items: center;
    color: rgb(3, 0, 0);
    transform: translateY(-50%);
}
.content h2{
    font-size: 1.6rem;
    color: black;
    text-align: center;
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.content p{
    margin-left: 10px;
}

.banner .nav ul li a p
{
    border: 2px solid tomato;
    border-radius: 25px;
    margin: 0px 0px;
    background: tomato;
    color:rgb(0, 0, 0);
    font-weight: 400;
}
.banner .nav ul li a p:hover
{
    background: teal;
    border: 2px solid teal;
}
section
{
    height: 100;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1{
    padding-bottom: 15px;
}
article
{
    margin: 0;
    padding: 0;
}
article p{
    color: rgb(0, 0, 0);
}
.container{
    width: 100%;
    height:auto;
    margin: 0px auto;
    background: teal;   
}
.container h1{
    padding: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}
  .container {
    position: relative;
    display: none;
  }
.eatslink img
{
    width: 50%;
}
  footer{
    width:100%;
    height:fit-content;
    background-color: rgb(248, 218, 218);
    text-align: center;
    color: white;
  }
  @media screen and (max-width:1024px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
    .m-third
    {
        padding: 0;
        margin: 0;
    }
    .banner p{
        width: 80%;
        margin-left: 10px;
    }
    .banner h2
    {
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .eatslink p{
        width: 75%;
        margin-left: 25px;
        align-items: center;
        text-align: left ;
    }
    section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
    .eatslink img
    {
        margin-left: 25px;
    }
  }
  @media screen and (max-width:768px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
  }
  @media screen and (max-width:600px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
    .banner h2{
        font-size: 1.6rem;
        color: rgb(0, 0, 0);
        margin: 15px;
        text-align: center;
    }
    .banner p{
        margin-left: 10px;
        font-size: 22px;
    }

  }
  @media screen and (max-width:411px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 100%;
        margin-top: 25px;
    }
    .banner .nav ul li
    {
        padding: 0;
        font-size: 0.8rem;
        margin: 0;
    }
    .banner p{
        width: 90%;
        margin-left: 10px;
        height: 70%;
        overflow: scroll;
    }
    h1{
        padding: 5;
    }
    .banner h2
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }
  @media screen and (max-width:320px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
    section.w3-container.w3-center.w3-content .w3-wide
    {
        background-color: teal;
        margin: 0;
        padding: 0;
        width: 80px;
        font-size: 10px;
    }
    section.w3-container.w3-center.w3-content .w3-justify
    {
        font-size: 12px;
    }
    section.w3-container.w3-center.w3-content .w3-opacity
    {
        width: 1%;
    }
  }
  @media screen and (max-width:600px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
  }
  @media screen and (max-width:600px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
  }
  @media screen and (max-width:600px)
  {
      .container, section,.nav ,.content
      {
          margin: 0;
          width: 100%;
      }
      .slide
      {
          visibility: collapse;
      }
      section.w3-container.w3-center.w3-content,.m-third, p
      {
        background-color: white;
        border: unset;
      }
      .w3-opacity
      {
          visibility: collapse;
      }
}
