*
{
    padding:0;
    margin: 0px;
    height: auto;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
html
{
    background: rgba(102, 119, 103, 0.3);
}
html ,body
{
    background-color: rgb(231, 214, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}
p{
    color: rgb(0, 0, 0);
}
article.m-third
{
    align-items: center;
    text-align: justify;
    text-decoration: none;
    font-size: 1rem;
}
nav{
    background: #2e3e50;
    height: 60px;
    width: 100%;
}
nav img{
    width: 50px;
    position: absolute;
    top: 2%;
    left: 3%;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    margin:0 15px;
    line-height: 50px;
}
nav ul li a{
    position: relative;
    color: white;
    font-size: 14px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background:crimson ;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.content
{
    position: absolute;
    top: 50%;
    align-items: center;
    color: rgb(3, 0, 0);
    transform: translateY(-50%);
}
.content h2{
    font-size: 1.6rem;
    color: black;
    text-align: center;
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.content p{
    margin-left: 10px;
}

.banner .nav ul li a p
{
    border: 2px solid tomato;
    border-radius: 25px;
    margin: 0px 0px;
    color:rgb(0, 0, 0);
    font-weight: 400;
}
.banner .nav ul li a p:hover
{
    background: teal;
}
section
{
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1{
    padding-bottom: 15px;
}
article
{
    margin: 0;
    padding: 0;
}
article p{
    color: rgb(0, 0, 0);
}
.container{
    width: 100%;
    height:auto;
    margin: 0px auto;
    background: teal;   
}
.container h1{
    padding: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}
  .container {
    position: relative;
    display: none;
  }
.eatslink img
{
    width: 50%;
}
  footer{
    width:100%;
    height:fit-content;
    background-color: #2e3e50;
    text-align: center;
    color: white;
  }
  body div img 
  {
      margin-left: 10%;
      padding: 20px;
      margin-right: auto;
      width: 50%;
      text-align: center;
  }
  body div#food.EATS div.eatslink img 
  {
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
  }
  body div.footer footer ul li a img 
  {
    width: 35px;
  }
    body section.m-row article.m-third
    {
        width: 82%;
    }
  @media screen and (max-width:1024px)
  {
    html, body{
        width: 100%;
    }
    nav img 
    {
        transform: translateY(-33px);
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
    .m-third
    {
        padding: 0;
        margin: 0;
    }
    .banner p{
        width: 80%;
        margin-left: 10px;
    }
    .banner h2
    {
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .eatslink p{
        width: 75%;
        margin-left: 25px;
        align-items: center;
        text-align: left ;
    }
    section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
    .eatslink img
    {
        margin-left: 25px;
    }
    body section.m-row article.m-third section.container-att,
    body section.m-row article.m-third section.container-chi,
    body section.m-row article.m-third section.container-cen,
    body section.m-row article.m-third section.container-cent,
    body section.m-row article.m-third section.w3-w3,
    body section.m-row article.m-third section.w3-w3-w3
    {
        max-width: 900px!important;
    }
    body div#food.EATS div.eatslink p    
    {
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
    body div#food.EATS div.eatslink h2 
    {
        width: fit-content;
        margin-right: 30%;
        margin-left: 30%;
        text-align: center;
    }
  }
  @media screen and (max-width:768px)
  {
    html, body{
        width: 100%;
    }
    body section nav ul li
    {
        padding: 2px;
        margin: 2px;
    }
    body section nav ul li a
    {
        font-size: 18px;
    }
    body section nav img 
    {
        width: 45px;
    }
    body .footer footer ul li a img
    {
        width: 35px;
        padding:2px ;
        margin: 0;
        display: flex;
    }

  }
  @media screen and (max-width:600px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
    body section nav ul li a
    {
        font-size: 12px;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
    .banner h2{
        font-size: inherit;
        color: rgb(0, 0, 0);
        margin: 15px;
        text-align: center;
    }
    .banner p{
        margin-left: 10px;
        font-size: inherit;
    }
    body .footer footer ul li a img
    {
        width: 35px;
        padding:2px ;
        margin: 0;
        display: flex;
    }

  }
  @media screen and (max-width:411px)
  {
    html, body{
        width: 100%;
    }
    .banner p{
        margin-left: 10px;
        font-size: inherit;
    }
    body section nav ul li a
    {
        font-size: 1px;
    }
  }
  @media screen and (max-width:540px)/*540px done*/
  {
    html, body{
        width: 100%;
    }
    body section nav ul 
    {
        margin: 0;
        padding: 0;
    }
    body div img
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-self: center;
        padding-bottom: 25px;
    }
    body div h2
    {
        width: fit-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    body div p
    {
        width: 95%;
        text-align: justify;
        margin-left: 8px;
    }
    body section nav ul li
    {
        padding: 2px;
        margin: 2px;
    }
    body section nav ul li a
    {
        font-size: 12px;
    }
    body section nav img 
    {
        margin-top: 35px;
        width: 35px;
    }
    body section.m-row article.m-third p
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    section.container-ye h2.w3-wide,
    section.container-juicy h2.w3-wide,
    section.container-von h2.w3-wide,
    section.container-att h2.w3-wide,
    section.container-chi h2.w3-wide,
    section.m-row article.m-third section.w3-w3
    section.container-cen h2.w3-wide,
    section.container-cent h2.w3-wide,
    section.w3-w3-w3 h2.w3-wide,
    section.w3-w3 h2.w3-wide
    {
        text-align: center;
    }
    body section.m-row article.m-third 
    section.container-ye,
    body section.m-row article.m-third 
    section.w3-w3,
    body section.m-row article.m-third 
    section.w3-w3-w3
    {
        display: block;
    }
    body section.m-row article.m-third 
    section.container-att,
    body section.m-row article.m-third 
    section.container-cen
    {
        display: block;
    }
    body section.m-row article.m-third 
    section.container-juicy,
    body section.m-row article.m-third 
    section.container-cent
    {
        display: block;
    }
    body section.m-row article.m-third 
    section.container-von,
    body section.m-row article.m-third 
    section.container-chi
    {
        display: block;
    }
    body .footer footer ul li a img
    {
        width: 35px;
        padding:2px ;
        margin: 0;
        display: flex;
    }

  }
  
  @media screen and (max-width:320px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
    section.w3-container.w3-center.w3-content .w3-wide
    {
        background-color: teal;
        margin: 0;
        padding: 0;
        width: 80px;
        font-size: 10px;
    }
    section.w3-container.w3-center.w3-content .w3-justify
    {
        font-size: 12px;
    }
    section.w3-container.w3-center.w3-content .w3-opacity
    {
        width: 1%;
    }
    body .footer footer ul li a img
    {
        width: 35px;
        padding:2px ;
        margin: 0;
        display: flex;
    }
    body section nav ul li a
    {
        font-size: 8px;
    }
  }
  @media screen and (max-width:360px)
  {
    html, body{
        width: 100%;
    }
    .banner .content section .slide
    {
        visibility: collapse;
    }
section.w3-container.w3-center.w3-content,.m-third, img{
        width: 95%;
        margin-top: 25px;
    }
    section.w3-container.w3-center.w3-content .w3-wide
    {
        background-color: teal;
        margin: 0;
        padding: 0;
        width: 80px;
        font-size: 10px;
    }
    section.w3-container.w3-center.w3-content .w3-justify
    {
        font-size: 12px;
    }
    section.w3-container.w3-center.w3-content .w3-opacity
    {
        width: 1%;
    }
    body .footer footer ul li a img
    {
        width: 35px;
        padding:2px ;
        margin: 0;
        display: flex;
    }
  
}
  